body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Baloo Bhaina 2", cursive;
}

a {
  text-decoration: none;
  color: #006fc6;
}
img {
  max-width: 100%;
}
.hidden {
  display: none;
}
.header {
  display: flex;
  width: 100%;
  align-items: center;
  flex-wrap: wrap;
  background: #4c4c4b;
  padding: 1em 0.5em;
}
.logo-container {
  width: 14.5em;
  padding: 1em 2em;
}
.logo {
  margin-top: 1.5em;

  vertical-align: center;
}
.nav ul {
  display: flex;
  list-style: none;
  align-self: center;
  margin: 0;
  padding: 0;
}

.navlink img {
  width: 39px;
  height: 44px;
  transform: rotate(-11deg);
  position: relative;
  transition: 0.5s;
}

.navlink {
  padding: 0px 10px;
  text-align: center;
  color: #fff;
}
.navlink:hover {
  color: #390c09;
}
.navlink:hover img {
  transform: rotate(0deg);
}
.navlink h4 {
  font-size: 24px;
  font-weight: 700;
}
.search-container {
  margin: 0 auto;
}
.serach-btn {
  display: block;
  padding: 8px 16px;
  border: 2px solid #fff;
  background: none;
  font-weight: 800;
  color: #fff;
  font-size: 19px;
  border-radius: 5px;
  margin: 0px auto;
  cursor: pointer;
  width: 7.5em;
}

.section1 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-auto-rows: 30em;
  padding: 0;
  margin: 0;
  background-color: #908e8e;
}

.section1 article {
  display: flex;
  border: 1px solid #4e4b4b;
  align-items: center;
  justify-content: center;
}

.section1 article p {
  font-weight: 600;
  font-size: 40px;
  margin: 0 35px;
  font-stretch: ultra-condensed;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.section2 {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: 25em;
  padding: 0;
  margin: 10px 0 0;
}

.section2 article {
  display: flex;
  background-color: #d4d4d4;
  border: 1px solid #888;
  align-items: center;
  justify-content: center;
}

.section2 article p {
  font-weight: 600;
  font-size: 20px;
  margin: 0 35px;
  font-stretch: ultra-condensed;
  font-family: "Courier New", Courier, monospace;
  line-height: 1em;
}

.section3 {
  background-color: #76d0a4;
  background-image: -webkit-gradient(
    linear,
    left top,
    left bottom,
    color-stop(50%, #76d0a4),
    to(#7ab99a)
  );
  background-image: linear-gradient(#76d0a4 50%, #7ab99a 100%);
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.6);
  text-align: center;
}
.section3 .container {
  padding: 3em;
}
.section3 p {
  max-width: 55vw;
  margin: 0 auto;
  font-weight: 300;
  letter-spacing: 2px;
}
.section3-content h2 {
  font-size: 2rem;
  line-height: 2rem;
  margin: 1rem 0;
}
.section3-content a {
  margin: 0;
  color: #fff;
  border-bottom: 16px solid #adeccc;
  border-radius: 16px;
}

.learn-more {
  padding: 8px 18px;
  background: #fff;
  color: #452eca !important;
  display: inline-block;
  border: none;
}
.section4 {
  background: #ffffff;
}

.container {
  padding: 3em;
}
.row,
.col-md-6,
.col-md-12 {
  display: flex;
  flex-wrap: wrap;
  flex: 0 1 auto;
  padding: 1.5em;
}
.row {
  padding: 0;
  margin-bottom: 1.5rem;
}
.col-md-12 {
  flex: 100%;
  flex-wrap: nowrap;
  max-width: 100%;
}
.col-md-6 {
  flex: 50%;
  flex-wrap: nowrap;
  max-width: 50%;
}
.img-holder,
.flex-content {
  margin: 1em;
}
.img-holder img {
  border: 8px solid #d33a2c;
  border-radius: 8px;
  transform: rotate(-11deg);
  transition: 0.7 ease;
}
.col-md-6:hover img,
.col-md-12:hover img {
  transform: rotate(0deg);
}

.more-twitter {
  text-align: center;
  border-bottom: 3px solid #9e1206;
  color: #333;
  font-weight: 700;
  font-size: 1.4rem;
  margin: 0 auto;
}

.text-center {
  text-align: center;
}
.section5 {
  background: #d33a2c;
}
.desgin-system {
  color: #fff;
}
.design-img {
  width: 256px;
  position: relative;
  margin-top: -180px;
  border: none !important;
}

.section6 {
  background: #f6f3f2;
}
.col-md-4 {
  flex: 33.33%;
  max-width: 33.33%;
  padding: 2rem;
  background: transparent;
  transition: 0.5s;
}

.col-md-4:hover {
  background: #fff;
  transform: scale(1.2);
}
.col-md-4 h3 {
  font-size: 26px;
  font-weight: 700;
  line-height: 2rem;
}
.col-md-4 ul {
  padding: 2rem 3rem;
  font-size: 21px;
  list-style: dot;
}
.col-md-4 a {
  text-decoration: underline;
}
.col-md-8 {
  flex: 60%;
  max-width: 60%;
  background: #d33a2c;
  border-radius: 8px;
  color: #fff;
  text-align: center;
  padding: 2rem;
}
.col-md-8 h2 {
  font-size: 43px;
  font-weight: 700;
}
.col-md-8 p {
  width: 70%;
  margin: 0 auto;
  font-size: 21px;
  line-height: 1.4rem;
}
.subscribe-conatiner {
  display: flex;
  margin-bottom: 1.5rem;
  justify-content: center;
  align-items: center;
}

.subscribe-conatiner input {
  padding: 1.5em 2em;
  border: none;
  border-top-left-radius: 12px;
  border-bottom-left-radius: 12px;
  border-right: 1px solid #ccc;
}
.btn button {
  padding: 1.5em 2em;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  border-top-right-radius: 12px;
  border-bottom-right-radius: 12px;
  background: #fff;
  border: none;
}
.sub-para {
  color: #fff;
  font-size: 16px;
  font-weight: 200;
}

.footer {
  margin: 0;
  display: flex;
  flex-direction: column;
  background: #d33a2c;
}

.footer1 {
  display: flex;
  flex-direction: column;
  margin: 0 42px;
  text-align: center;
}

.footer1 p {
  font-size: 17px;
  color: white;
}

.footer1 ul {
  justify-content: space-between;
  list-style-type: disc;
}

.footer1 ul li {
  font-size: 1rem;
  display: inline-block;
}

.footer1 ul li a {
  color: white;
  font-size: 20px;
}

.footer1 ul li::before {
  content: "•";
  display: inline-block;
  font-size: 22px;
  position: relative;
  top: 2px;
  color: #650c0c;
  margin: 0 0.5rem;
}

.footer2 {
  width: 100%;
  margin: 1rem auto;
  color: #fff;
}
.footer2 ul {
  max-width: 32em;
  margin: 1rem auto;
}
.footer2 ul li {
  display: inline-block;
  padding: 0px 8px;
  margin-bottom: 1rem;
}
.footer2 a {
  color: #fff;
  text-decoration: underline;
}
